/* General animation settings */
.animate-top-left,
.remove-animate-top-left,
.animate-top-right,
.remove-animate-top-right
{
     animation-fill-mode: forwards;
     animation-duration: 0.2s;
     animation-iteration-count: 1;
     animation-timing-function: ease-in-out;
}

/* Hover Animation */

@keyframes hover{
    0%{
         transform: translateY(0);
    }
    50%{
         transform: translateY(-5px);
    }
    100%{
         transform: translateY(0);

    }
}

/* Animate top left */
.animate-top-left{
     animation-name: top-left;

}

.remove-animate-top-left{
     animation-name: reverse-top-left;
}

@keyframes top-left{
     0%{
          background-image: var(--tl-1);
      }
     25%{
          background-image: var(--tl-2);
     }
     50%{
          background-image: var(--tl-3);
     }
     75%{
          background-image: var(--tl-4);
     }
     100%{
          background-image: var(--tl-5);
     
     }
 }

 @keyframes reverse-top-left{
     0%{
          background-image: var(--tl-5);
      }
     25%{
          background-image: var(--tl-4);
     }
     50%{
          background-image: var(--tl-3);
     }
     75%{
          background-image: var(--tl-2);
     }
     100%{
          background-image: var(--tl-1);
     
     }
 }

 /* Animate top right */
.animate-top-right{
     animation-name: top-right;

}

.remove-animate-top-right{
     animation-name: reverse-top-left;
}

@keyframes top-right{
     0%{
          background-image: var(--tr-1);
      }
     25%{
          background-image: var(--tr-2);
     }
     50%{
          background-image: var(--tr-3);
     }
     75%{
          background-image: var(--tr-4);
     }
     100%{
          background-image: var(--tr-5);
     
     }
 }

 @keyframes reverse-top-right{
     0%{
          background-image: var(--tr-5);
      }
     25%{
          background-image: var(--tr-4);
     }
     50%{
          background-image: var(--tr-3);
     }
     75%{
          background-image: var(--tr-2);
     }
     100%{
          background-image: var(--tr-1);
     
     }
 }