/* custom Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300&display=swap');
 
/* General */
body{
    font-family: 'Poppins', sans-serif;
    background: var(--bg);
    color: var(--text);
    height: 100%;
    width: 100%;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

h1,h2,h5,p{
    margin: 0;
}

.icon{
    height: 2rem;
    width: 2rem;
    margin: 0 0.5rem;
}

/* HERO */
#hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#hero_animation{
    animation-name: hover;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 25rem;
    width: 25rem;
    max-height: 100vh;
    max-width: 100vw;
}

#hero_animation_img{
    background-image: var(--tl-1);
    height: 100%;
    background-position: center;
    background-size: cover;
}

/* Cards styles */

#grid{
    position: absolute;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#grid_tl_btn,
#grid_tr_btn,
#grid_bl_btn,
#grid_br_btn{
    height: 18.75rem;
    width: 18.75rem;
    background: var(--bg);
    color: var(--text);
    border: var(--border);
    position: fixed;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    z-index: 100;
    border-radius: 40%;
    transition: transform 0.2s ease-in-out;
}

#grid_tl_content,
#grid_tr_content,
#grid_bl_content,
#grid_br_content{
    position: absolute;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    color: var(--text-alt);
}

#grid_tl_btn,
#grid_tr_btn{
    align-items: flex-end;
    padding-bottom: 0.5rem;
}

#grid_bl_btn,
#grid_br_btn{
    align-items: flex-end;
    padding-top: 0.5rem;
}

#grid_tl_btn:active,
#grid_br_btn:active{
    transform: rotate(-45deg) scale(1.05);
}

#grid_bl_btn:active,
#grid_br_btn:active{
    transform: rotate(45deg) scale(1.05);
}

/* Top left corner */
#grid_tl_btn{
    top: -11.5rem;
    left: -11.5rem;
    transform: rotate(-45deg);
}

#grid_tl_content{
    width: 30vw;
    top: 10vh;
    left: 0;
    transform: translateX(-100vw) translateY(-100vh);
}

article{
    background: rgb(245, 245, 245);
    font-size: 0.8rem;
    list-style: none;
    border: var(--border);
    border-radius: 2rem;
    padding: 0.5rem;
    margin: 1rem;
    width: 8.75rem;
    min-width: 8.75rem;
}

article h2{
    font-size: 1rem;
    padding: 0.3rem;
}

article p{
    padding-bottom: 0.3rem;
}

article h2,
article p{
    color: #333;
}

.cards{
    padding: 0;
}

.cards_content{
    display: flex;
    align-items: center;
}

.cards_content_text{
    color: var(--text);
    text-align: center;
    margin: 0 1rem;
}

/* Top right corner */

#grid_tr_btn{
    top: -11.5rem;
    right: -11.5rem;
    transform: rotate(45deg);
}

#grid_tr_content{
    width: 30vw;
    top: 10vh; 
    right: 0;
    transform: translateX(100vw) translateY(-100vh);
}

.experience{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.experience_skills{
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    margin: 0;
    gap: 0.2rem;
    width: fit-content;
}

.experience_skills div{
    display: flex;
    align-items: center;
    width: 13.5rem;
}

.experience_skills div img{
    padding: 0;
    margin-right: 0.5rem;
}

.experience_skills div h2{
    text-align: left;
}

.experience_skills div p{
    padding: 0;
}

.experience_skills div h2, .experience_skills div p{
   font-size: 0.8rem;
}

.experience_skills div div{
  justify-content: space-between;
}

/* Bottom left corner */

#grid_bl_btn{
    bottom: -11.5rem;
    left: -11.5rem;
    transform: rotate(45deg);
}

#grid_bl_content{
    width: 15rem;
    background-origin: 15vh;
    left: 0;
    /* transform: translateX(-100vw) translateY(100vh); */
}

.project_img{
    width: 100%;
}
.project_title{
    width: 100%;
}


